.exp-section {
    margin-top: 6rem;
    padding: 0 4rem;
    height: 80vh;
    min-height: 43rem;
    letter-spacing: 1px;
  }

  .exp-section .heading h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
  
  .exp-section .exp-container {
    margin-top: 2rem;
  }

  .line div{
    height: 1px;
  }

  .exp-container .exp-card{/* From https://css.glass */
    background: rgba(52, 58, 81, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
  }
  
  @media (min-width: 1281px) {
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  }
  