.exp-section {
    margin-top: 6rem;
    padding: 0 4rem;
    height: 80vh;
    min-height: 43rem;
    letter-spacing: 1px;
  }

  .exp-section .heading h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
  
  .exp-section .exp-container {
    margin-top: 2rem;
  }
  
  @media (min-width: 1281px) {
  }
  
  @media (min-width: 1025px) and (max-width: 1280px) {
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
  }
  