.intro-section {
    display: flex;
    min-height: 43rem;  
    width: 100%; 
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    overflow: hidden;
    padding: 0 4rem;
}


.intro-section .intro-container{
    width: 100%;
}

.intro-section .sections .texts {
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 100%;
}

.intro-section .left{
    width: 70%;
}

.intro-section .texts .heading h1 {
    font-size: 4rem;
    font-weight: bold;
}

.intro-section .texts .heading h2 {
    font-size: 3rem;
}

.intro-section .left .socials{
    width: 100%;
}


.intro-section .left .socials img{
    width: 1.3rem;
    object-fit: contain;
    transition: 1s;
}

.intro-section .left .socials .png:hover img{
    transform: translateY(-8px);
    transition: 0.7s;
}

.intro-section .right .img-wrapper .img{
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} 

.intro-section .right .img-wrapper img {
    filter: grayscale(100%);
    object-fit: cover;

}



@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
    .intro-section .texts .heading h1 {
        font-size: 3rem;
        font-weight: bold;
    }
    
    .intro-section .texts .heading h2 {
        font-size: 2rem;
    }
    .intro-section .sections .texts {
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 100%;
    }

    .socials{
        margin-left: 0!important;
    }
    
}

@media (min-width: 320px) and (max-width: 480px) {
    .intro-section{
        padding: 0 2rem;
    }

    .intro-section .texts .heading h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .intro-section .texts .heading h2 {
        font-size: 1.2rem;
        line-height: 1rem;
    }
    .intro-section .sections .texts {
        text-transform: uppercase;
        letter-spacing: 3px;
        width: 100%;
    }

    .intro-section{
        min-height: 40rem;  
    }

    .socials{
        margin-left: 0!important;
    }
    
}
