.intro-section {
    display: flex;
    height: 100vh;   
    width: 100%; 
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    overflow: hidden;
    padding: 0 4rem;

}

.intro-section .intro-container{
    width: 100%;
}

.intro-section .sections .texts {
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 100%;
}

.intro-section .left{
    width: 70%;
}

.intro-section .texts .heading h1 {
    font-size: 4rem;
    font-weight: bold;
}

.intro-section .texts .heading h2 {
    font-size: 3rem;
}

.intro-section .left .socials{
    width: 100%;
}


.intro-section .left .socials img{
    width: 1.3rem;
    object-fit: contain;
    transition: 1s;
}

.intro-section .left .socials .png:hover img{
    transform: translateY(-8px);
    transition: 0.7s;
}

.intro-section .right .img-wrapper .img{
    /* border: 2px solid; */
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
} 

.intro-section .right .img-wrapper img {
    filter: grayscale(100%);
    object-fit: cover;

}
