.projects-section {
  margin-top: 6rem;
  padding: 0 4rem;
  /* min-height: 43rem; */
  letter-spacing: 1px;
}

.projects-section .heading h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 4px;
}

.projects-section .projects-container {
  margin-top: 2rem;
}

.projects-section .project-card {
  height: 10rem;
  width: 23rem;
  margin: 10px;
  border-radius: 4px;
  background-color: #27272769;
  transition: 1s;
}

.projects-section .project-card .right {
  height: 100%;
  width: 17rem;
  background-color: #1f21312e;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.projects-section .project-card .left img {
  /* width: 10rem;
  height: 9rem;  */
  width: 8rem;
  height: 7rem;
  object-fit: contain;
  transition: 1s;
}

.projects-section .project-card .right .title p {
  font-size: 1.3rem;
  font-weight: 600;
}

.projects-section .project-card .right .desc {
  color: #a1a1a1;
  max-height: 3rem;
  font-size: 15px;
}

.projects-section .project-card .right .skills {
  font-size: 12.3px;
  color: #a1a1a1;
}


/* hover */

.projects-section .project-card .right .links{
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-0.5rem);
} 

.projects-section .project-card .right .links span{
  transition: 0.8s;
  color: transparent;
}

.projects-section .project-card .right:hover .links{
  display: flex;
  /* justify-content: end; */
  /* align-items: end; */
  transition: 0.7s;
  transform: translateY(0rem);
}

.projects-section .project-card .right:hover .links span{
  transition: 0.7s;
  --tw-text-opacity: 1;
    color: rgb(252 211 77 / var(--tw-text-opacity));

}

/* .projects-section .animate .drawer{
  background-color: red;
  width: 23rem;
  height: 10rem;
  border-radius: 4px;
  position: absolute;
  z-index: -99;
  visibility: hidden;
} */

/* .projects-section .animate:hover .project-card{
    transition: 0.7s;
    transform: scale(1.02);
    visibility: visible;
    box-shadow: rgba(123, 123, 132, 0.238) 0px 0px 29px 0px;
} */

/* .projects-section .animate:hover .project-card img{
  transition: 1s;
  transform: rotate(-4deg);
} */

@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
  .projects-section .heading h2 {
    font-size: 2rem;
  }

  .projects-section .project-card {
    height: 10rem;
    width: 25rem;

  }

  .projects-section .project-card .right {
    height: 100%;
    width: 17rem;
  }

  .projects-section .project-card .left img {
    width: 8rem;
    height: 7rem;
  }

  .projects-section .project-card .right .title p {
    font-size: 1rem;
  }

  .projects-section .project-card .right .title{
    margin-bottom: 0.5rem!important;
  }

  .projects-section .project-card .right .desc {
    max-height: 3rem;
    font-size: 14px;
  }

  .projects-section .project-card .right .skills {
    font-size: 12.3px;
  }


}
