.projects-section{
    margin-top: 6rem;   
    padding: 0 4rem;
    height: 80vh;
}

.projects-section .heading h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem; 
    letter-spacing: 4px;
}
