.skills-section{
    margin-top: 6rem;   
    padding: 0 4rem;
    height: 80vh;
}

.skills-section .heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem; 
    letter-spacing: 4px;
}

.skills-container{
    margin-top: 2rem;
}

.skills-section .cat-card{
    border: 0.01rem solid #1c1919;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

.skills-section .skill{
    height: 7rem;
    width: 7rem;
    margin: 10px;
    border-radius: 4px;
    background-color: rgb(39 39 39 / 41%);
}

.skills-section .skill img{
    width: 3rem;
    height: 2rem;
    object-fit: contain;
    margin-bottom: 1rem;
}

.skills-section .skill .skill-title span{
    font-weight: 300;
    letter-spacing: 1px;
}