.inverse{
    filter: invert(1);
}

.cursor{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
}

.intro-screen{
    position: absolute;
    z-index: 9999999999;
    height: 300vh;
    width: 300%;
    /* background-color: white; */
    top: 0;
}